h2,
label {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.h2 {
  font-size: 2.25rem;
}

@media screen and (min-width: 1920px) {
  .h2 {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 1440px) and (min-width: 960px) {
  .h2 {
    font-size: 2.75rem;
  }
}

.p,
.label {
  font-size: 1rem;
}

.p {
  line-height: 1.618rem;
  color: var(--color-reading);
}

.label,
.h2 {
  font-weight: bolder;
}

a.p {
  color: var(--color-primary);
}
