.root {
  transition-property: color;
  transition: var(--transition);
}

.h2,
.label {
  font-family: var(--font-family-main);
  text-transform: uppercase;
  color: var(--color-base);
}

.h2 {
  font-size: var(--font-size--heading-two);
}

.p,
.label {
  font-size: var(--font-size--paragraph);
}

.p {
  line-height: 1.618rem;
  color: var(--color-reading);
}

.label,
.h2 {
  font-weight: bolder;
}

a.p {
  color: var(--color-primary);
}
