@import-normalize;

html[data-theme="light"] {
  --color-primary: #3f9cf9;
  --color-secondary: #ea2934;
  --color-tertiary: #ff97ff;
  --color-reading: rgba(0, 0, 0, 0.8);
  --color-base: rgba(0, 0, 0, 0.4);
  --color-disabled: rgba(0, 0, 0, 0.2);
  --background-color: #f5f5f5;
}

html[data-theme="dark"] {
  --color-primary: #3f9cf9;
  --color-secondary: #ea2934;
  --color-tertiary: #ff97ff;
  --color-reading: rgba(255, 255, 255, 1);
  --color-base: rgba(255, 255, 255, 0.6);
  --color-disabled: rgba(255, 255, 255, 0.4);
  --background-color: #333333;
}

html[data-theme] {
  --font-family-main: Georgia, "Times New Roman", Times, serif;
  --font-family: "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans";
  --font-size--heading-two: 2.25rem;
  --font-size--paragraph: 1rem;
  --font-size--base: 16px;
  --transition: 300ms cubic-bezier(0.3, 0.6, 0.6, 0.3);
}

@media screen and (max-width: 1440px) and (min-width: 960px) {
  html[data-theme] {
    --font-size--heading-two: 2.75rem;
  }
}

@media screen and (min-width: 1920px) {
  html[data-theme] {
    --font-size--heading-two: 3.75rem;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size--base);
  transition-property: background-color;
  transition: var(--transition);
}
